.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.columns-icon-with-description img {
  width: 54px;
}

.columns > div > .columns-img-col img {
  display: block;
}


/* Styling for h3 headers in columns */
.columns h3 {
  font-size: var(--font-size-700);
  color: var(--text-on-light-link-primary-enabled);
  line-height: 150%;
  letter-spacing: -0.25px;
  font-family: var(--body-font-family);
}

/* Styling for 3rd child paragraph in columns */
.columns > div > div > p {
  font-family: var(--body-font-family);
  color: var(--text-on-light-highlight);
  font-size: var(--font-size-200);
  font-weight: var(--body-font-weight-regular);
  line-height: 150%;
}

/* text align to center for heading-with-description variant */
.columns.columns-heading-with-description {
  text-align: center;
  }

/* Resize images for heading-with-description variant */
.columns.columns-heading-with-description picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-none);
}

.columns.columns-heading-with-description picture img {
  width: auto;
  height: 90px;
  object-fit: contain;
}

/* Styling .columns-icon-with-description */
.columns.columns-icon-with-description > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.columns.columns-icon-with-description p:has(img) {
 display: inline-block;
}

.columns.columns-icon-with-description p:has(a):nth-child(2) {
  max-width: 75%;
}

.columns.columns-icon-with-description a {
font-size: var(--font-size-200);
  font-style: normal;
  line-height: 150%;
  font-weight: bold;
}

.columns.columns-icon-with-description p:has(a):nth-child(2) > a {
  font-size: var(--font-size-500);
  font-style: normal;
  font-weight: var(--body-font-weight-bold);
  line-height: 150%;
  letter-spacing: -0.25px;
  cursor: pointer;
}


@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
