.iframe-container {
  padding: 0;
  min-height: 500px;
}

.iframe-container > div {
  max-width: none;
}

.iframe.block {
  position: absolute;
  margin: 0 var(--section-gutter-space);
  border: 0;
  inset: 0;
  overflow: hidden;
}

/* Mobile height */
.iframe.block iframe {
  height: var(--iframe-height-mobile, 100%);
}

/* Desktop height */
@media (width >= 768px) {
  .iframe.block iframe {
    height: var(--iframe-height-desktop, var(--iframe-height-mobile, 100%));
  }
}
