.iframe-container {
  padding: 0;
}

.iframe-container > div {
  max-width: none;
}

.iframe.block {
  margin: 0 var(--section-gutter-space);
  border: 0;
  overflow: hidden;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* When custom mobile height is set, switch from aspect ratio to fixed height */
.iframe.block[style*="--iframe-height-mobile"] .iframe-wrapper {
  padding-bottom: 0;
  height: var(--iframe-height-mobile);
}

/* Desktop: use custom desktop height if set */
@media (width >= 768px) {
  .iframe.block[style*="--iframe-height-desktop"] .iframe-wrapper {
    height: var(--iframe-height-desktop);
  }
}
