.iframe-container {
  padding: 0;
  min-height: 500px;
}

.iframe-container > div {
  max-width: none;
}

.iframe.block {
  margin: 0 var(--section-gutter-space);
  border: 0;
  overflow: hidden;
}

.iframe-wrapper {
  position: relative;
  width: auto;
  min-height: 400px;
  overflow: hidden;
}

.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  min-height: inherit;
  border: 0;
}

/* When custom mobile height is set, use fixed height */
.iframe.block[style*="--iframe-height-mobile"] .iframe-wrapper {
  min-height: var(--iframe-height-mobile);
  height: var(--iframe-height-mobile);
}

/* Desktop: use custom desktop height if set */
@media (width >= 768px) {
  .iframe.block[style*="--iframe-height-desktop"] .iframe-wrapper {
    height: var(--iframe-height-desktop);
  }
}
