/* homepage placeholder styles */

.homepage h2 {
    padding-bottom: 0;
    border-bottom: none;
   }

.homepage main {
  max-width: none;
  overflow: hidden;
}

.homepage main > .section:first-of-type {
    margin-top: 0;
  }

  body.homepage {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }

  .homepage .section.hero-video-section {
    margin-top: 0;
    max-width: 100%;
   }

   .homepage  .section.hero-video-section > .default-content-wrapper {
    height: 112vh;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }

  @media (width <= 500px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 70vh;
     }
   }
   
   @media (width <= 769px) and (width > 500px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 60vh;
     }
   }

   @media (width > 769px) and (width <= 1400px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 105vh;
     }
   }

  @media (width >=1024px) {
    .homepage main > .section {
        max-width: 1600px;
       }
    }