/* homepage placeholder styles */

.homepage h2 {
    padding-bottom: 0;
    border-bottom: none;
    letter-spacing: -0.6px;
   }

.homepage main {
  max-width: none;
  overflow: clip;
}

.homepage main > .section:first-of-type {
    margin-top: 0;
  }

  body.homepage {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }

  .homepage main > .section.tab-carousel-section {
    padding-top: var(--section-padding);
   }

  .homepage .section.hero-video-section {
    margin-top: 0;
    max-width: 100%;
   }

   .homepage .cards.sticky-columns-card > ul {
    padding: 1rem 0;
   }

   .homepage .swipe-carousel.with-button .main-heading {
    padding-top: 200px;
   }

   .homepage .section > .swipe-carousel-wrapper:has(.with-button) .swipe-carousel > ul {
    padding-left: var(--grid-margin);
   }

   .homepage .swipe-carousel.with-button .main-heading p {
    font-size: var(--font-size-500);
    color: var(--text-on-light-default);
   }

   .homepage  .section.hero-video-section > .default-content-wrapper {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }

  .homepage .section[id="sticky-section"] > .default-content-wrapper > p > strong > a:any-link {
    display: inline-block;
    background-color: var(--accent-blue-primary-70);
    border: 2px solid var(--accent-blue-primary-70);
    border-radius: var(--border-radius-x-large);
    color: #ffffffe5;
    font-weight: var(--body-font-weight-bold);
    font-size: var(--font-size-300);
    padding: 0.5rem 1.25rem;
    letter-spacing: -0.5px;
    line-height: 1.5rem;
    text-decoration: none;
  }

  .homepage .section[id="sticky-section"] > .default-content-wrapper > p > strong > a:any-link:hover {
    background-color: var(--accent-blue-primary-40);
    border: 2px solid var(--accent-blue-primary-40);
    color: var(--text-on-light-link-primary-enabled);
  }

  .homepage .section.hero-video-section > .default-content-wrapper p:nth-child(4)::before:hover {
    background-color: var(--accent-blue-primary-40);
  }

 

  .homepage .section:has(.cards.sticky-columns-card) h2 {
    padding-top: 200px;
  }

  @media (width <= 500px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 70vh;
     }
   }
   
   @media (width <= 769px) and (width > 500px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 60vh;
     }

     .homepage .swipe-carousel-container>div.swipe-carousel-wrapper {
      padding-left: 0;
     }
   }

   @media (width > 769px) and (width <= 1400px) {
    .homepage  .section.hero-video-section > .default-content-wrapper {
      height: 105vh;
     }

     .homepage .section[id="sticky-section"] > .default-content-wrapper > p > strong > a:any-link {
      padding: 0.75rem 1.27rem;
     }

     .homepage .swipe-carousel-container>div.swipe-carousel-wrapper {
      padding-left: 0;
     }
   }

  @media (width >=1024px) {
    .homepage main > .section {
        max-width: 1600px;
       }

    .homepage .section[id="sticky-section"] > .default-content-wrapper > p > strong > a:any-link{
        padding: 1rem 2rem;
       }

    .homepage .section[id="sticky-section"] > .default-content-wrapper {
       width: 70%;
       }

    .homepage .cards.sticky-card.block > ul {
        width: calc(100% + var(--section-padding)*2);
        margin-left: -100px;
    }

    .homepage .section.swipe-carousel-container:has(.with-button) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    }

    @media (width >=1400px) {
      .homepage .section[id="sticky-section"] > .default-content-wrapper {
         margin-left: auto;
         margin-right: auto;
      }
  
      .homepage .swipe-carousel-container>div.swipe-carousel-wrapper {
        padding-left: 0;
       }

     .homepage .cards.sticky-columns-card > ul > li {
      min-width: 613px;
      width: 50%;

     }  

     .homepage .cards.sticky-columns-card > ul > li:first-child {
      min-width: 613px;
      margin-left: 6rem;
    }
  
     .homepage .cards.sticky-columns-card > ul > li:nth-child(2) {
      max-inline-size: 613px;
     }

     .homepage .cards.sticky-columns-card > ul > li:nth-child(3) {
      min-width: 613px;
     }
    }