.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
  right: 0;
  position: relative;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 0.5em;
  background-color: transparent;
  color: var(--text-on-light-link-primary-enabled);
  font-weight: bold;
  line-height: 40px;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  font-size: var(--font-size-300);
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 4px solid var(--blue-40);
  background-color: transparent;
  cursor: initial;
  color: var(--text-on-light-emphasis);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid transparent;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
