.table.block {
    width: 100%;
    border: 0;
    margin: 0 auto 16px;
    border-bottom: 1px solid #e5e5e5;
    overflow: scroll;
  }

  .table.block.center-align {
    overflow: scroll;
  }
  
  .table.block table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size-200);
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    min-width: 680px;
    min-height: 223px
  }

    /* Center-align table: use fixed layout to respect column widths */
    .table.block.center-align table {
      width: 100%;
      max-width: 1200px;
      table-layout: fixed;
      min-height: 190px;
      min-width: 1020px;
    }
  
    .table.block table tbody tr {
      border-bottom: 1px solid #e5e5e5;
    }

    .table.block table thead tr {
      border-bottom: 1px solid #e5e5e5;
      min-height: 30px;
    }

    .table.block.center-align table tbody tr {
      letter-spacing: -0.25px ;
    }



    .table table th p,
    .table table td p {
      margin: 0 0 8px;
    }
    
    .table table td p + p {
      margin-top: 0.25em;
    }

     .table.block.center-align table thead tr p {
      width:900px;
       }

  .table.block.center-align table thead tr {
    min-height: 30px;
    width: 75%;
    text-align: center;
  }
  
  .table.block.center-align table tbody tr.single-column-row td p{
    width: 900px;
  }
  
  .table.block table th {
    font-weight: 700;
    height: 30px;
  }
  
  .table.block table th,
  .table.block table td {
    padding: var(--spacing-xsmall);
    text-align: left;
  }
  

  
  /* no header variant */
  .table.block.no-header table tbody tr {
    border-top: 1px solid;
  }
  

  /* striped variant */
  .table.block.striped tbody tr:nth-child(odd) {
    background-color: var(--overlay-background-color);
  }


  
  /* bordered variant */
  .table.block.bordered table th,
  .table.block.bordered table td {
    border: 1px solid;
  }


  /* Column-specific widths for default tables */
  .table.block table th.col-1,
  .table.block table td.col-1 {
    width: 36%;
  }

  .table.block.center-align table th.col-1,
  .table.block.center-align table td.col-1 {
    width: 40px;
  }

  .table.block table th.col-2,
  .table.block table td.col-2 {
    width: 5%;
  }

  .table.block.center-align table th.col-2,
  .table.block.center-align table td.col-2 {
    width: 142px;
  }

  .table.block table th.col-3,
  .table.block table td.col-3 {
    width: 22%;
  }

  .table.block.center-align table th.col-3,
  .table.block.center-align table td.col-3 {
    width: 142px;
  }

  .table.block table th.col-4,
  .table.block table td.col-4 {
    width: 60%;
  }


  /* Center align text in all cells for center-align tables */
  .table.block.center-align table th,
  .table.block.center-align table td {
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }



  @media (width >= 768px) {
    .table.block {
     padding-right: 8px;
     padding-left: 8px;
     width: 650px;
     overflow: hidden;
     margin-left: auto;
     margin-right: auto;
    }

    .table.block.center-align {
        border-bottom: none;
    }

    .table.block table {
        min-width: 600px;
    }

    .table.block.center-align table{
      min-width: 600px;

    }
 
    .table.block table th {
        height: 55px;
    }
    
    

    .table table th p, .table table td p {
      margin: 0 0 12px;
  }

    .table.block.center-align table thead tr p {
      width:600px;
       }

    .table.block.center-align table tbody tr.single-column-row td p{
        width: 600px;
    }

    .table.block table th.col-1, .table.block table td.col-1 {
        width: 30%;
    }

    .table.block.center-align table th.col-1, .table.block.center-align table td.col-1 {
      width:20%;
      vertical-align: top;
    }

    .table.block table th.col-2, .table.block table td.col-2 {
        width: 14%;
    }

    .table.block.center-align table th.col-2, .table.block.center-align table td.col-2 {
      vertical-align: top;
    }

    .table.block table th.col-3, .table.block table td.col-3 {
        width: 18%;
    }

    .table.block.center-align table th.col-5, .table.block.center-align table td.col-5 {
      vertical-align: top;
    }

    .table.block.center-align table th,
.table.block.center-align table td {
  white-space: normal;

  }
  }

  @media (width >= 1024px) {
    .table.block {
        padding-right: 12px;
        padding-left: 12px;
        width: 740px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
       }

    .table.block.center-align {
        padding-right: 12px;
        padding-left: 12px;
        overflow: hidden;
        width:700px;
       }

    .table table th p, .table table td p {
        margin: 0 0 18px;
    }


    .table.block.center-align table thead tr p {
      width:700px;
       }

    .table.block table th.col-1, .table.block table td.col-1 {
        width: 30%;
    }

    .table.block table th.col-2, .table.block table td.col-2 {
        width: 15%;
    }

    .table.block table th.col-3, .table.block table td.col-3 {
        width: 18%;
    }

    .table.block table th.col-4, .table.block table td.col-4 {
        width: 50%;
    }

    /* Center-align table column widths at 1024px+ - ensure all columns fit */
    .table.block.center-align table {
        width: 100%;
        max-width: 1200px;
        table-layout: fixed;
    }

    .table.block.center-align table th.col-1,
    .table.block.center-align table td.col-1 {
        width: 20%;
    }

    .table.block.center-align table th.col-2,
    .table.block.center-align table td.col-2 {
        width: 20%;
    }

    .table.block.center-align table th.col-3,
    .table.block.center-align table td.col-3 {
        width: 20%;
    }

    .table.block.center-align table th.col-4,
    .table.block.center-align table td.col-4 {
        width: 20%;
    }

    .table.block.center-align table th.col-5,
    .table.block.center-align table td.col-5 {
        width: 20%;
    }

    .table.block.center-align table tbody tr.single-column-row td p{
      width: 700px;
  }

}
