/* wide template styles */
.wide main > .section {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.wide main > .section > div {
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

.wide main > .section .default-content-wrapper p {
    font-size: 16px;
    line-height: 1.5;
}

.wide main > .section:first-of-type > div > p:has(picture) {
  padding-bottom: var(--spacing-xhuge);
}

.wide main > .section:first-of-type picture,
.wide main > .section:first-of-type img {
  width: 100%;
  display: block;
}

@media (width >= 768px) {
  .wide main > .section .default-content-wrapper p {
    font-size: 18px;
  }
}

@media (width >= 1024px) {
  .wide main > .section {
    max-width: 100%;
    width: 100%;
  }

  .wide main > .section .default-content-wrapper p {
    font-size: 20px;
  }
}