/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  
  /* carousel specific colors */
  --white: #fff;
  --blue-120: #001c2d;
  --blue-80: #053657;
  --blue-40: #169af3;
  --blue-60: #00538a;
  --blue-70: #004370;
  --blue-90: #012740;
  --text-on-dark-emphasis: #ffffffe5;
  --text-on-dark-subdued: rgb(255 255 255 / 70%);
  --text-on-light-default: #000d1ab2;
  --text-on-light-highlight: #012740;
  --text-on-light-link-primary-enabled: #004370;
  --background-white: #fff;
  --outline-transparent: transparent;
  --accent-blue-primary-60: #00538a;
  --accent-blue-primary-70: #004370;
  --neutral-solid-30-s: #bdccdb;
  --neutral-alpha-95-a: #000d1af5;
  --gray-alpha-white-90-a: #ffffffe5;
  --divider-on-light-emphasis: #00396b3d;
  
  /* spacing */
  --spacing-none: 0;
  --spacing-xtiny: 0.125rem;
  --spacing-tiny: 0.25rem;
  --spacing-xsmall: 0.25rem;
  --spacing-xxsmall: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-regular: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 1.75rem;
  --spacing-xxlarge: 2rem;
  --spacing-huge: 2.5rem;
  --spacing-xhuge: 3rem;
  --section-gutter-space: 28px;
  --global-gutter: 1.5rem;
  --global-section-padding: 5rem;
  --grid-margin: 1.75rem;
  --padding-margins-sp1: 0.75rem;
   
  /* font sizes */
  --body-font-family: 'Open Sans', roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --font-size-100: 0.75rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1rem;
  --font-size-400: 1rem;
  --font-size-500: 1rem;
  --font-size-600: 1.125rem;
  --font-size-700: 1.25rem;
  --font-size-800: 1.5rem;
  --font-size-900: 1.75rem;
  --font-size-1000: 1.75rem;
  --font-size-1100: 1.75rem;
  --font-size-1200: 2.25rem;
  
  /* font weights */
  --body-font-weight-regular: 400;
  --body-font-weight-bold: 700;
  --label-font-weight: 700;
  --lift-button-label-font-weight: 500;
  
  /* screen variables */
  --screen-width: 1456px;
  
  /* other */
  --lift-button-border-radius: 4px;
  --border-radius-none: 0rem;
  --border-radius-small: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
  --border-radius-x-large: 2rem;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;

  /* icon sizes */
  --size-icon-small: 0.875rem;
  --size-icon-regular: 1rem;
  --size-icon-large: 1.25rem;
  --size-icon-xxlarge: 4rem;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 768px) {
  :root {
    /* responsive spacing */
    --spacing-xxsmall: 0.25rem;
    --spacing-xsmall: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-regular: 1.25rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 1.75rem;
    --spacing-xlarge: 2rem;
    --spacing-xxlarge: 2.5rem;
    --spacing-huge: 3.5rem;
    --spacing-xhuge: 4rem;
    --section-gutter-space: 48px;
    --grid-margin: 3rem;
    
    /* responsive font sizes */
    --font-size-400: 1.125rem;
    --font-size-500: 1.125rem;
    --font-size-600: 1.25rem;
    --font-size-700: 1.5rem;
    --font-size-800: 1.75rem;
    --font-size-900: 1.75rem;
    --font-size-1000: 2rem;
    --font-size-1100: 2.25rem;
    --font-size-1200: 2.75rem;
  }
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;

     /* spacing */
     --spacing-xxsmall: 0.5rem;
     --spacing-xsmall: 0.75rem;
     --spacing-small: 1rem;
     --spacing-regular: 1.5rem;
     --spacing-medium: 2rem;
     --spacing-large: 2.5rem;
     --spacing-xlarge: 3rem;
     --spacing-xxlarge: 4rem;
     --spacing-huge: 5rem;
     --spacing-xhuge: 6rem;

     /* icon sizes */
     --size-icon-xxlarge: 6rem;
     --font-size-400: 1.125rem;
     --font-size-500: 1.25rem;
     --font-size-600: 1.5rem;
     --font-size-700: 1.75rem;
     --font-size-800: 2rem;
     --font-size-900: 2.25rem;
     --font-size-1000: 2.5rem;
     --font-size-1100: 3rem;
     --font-size-1200: 3.75rem;
  }
  
  main > .section > div {
    padding: 0 32px;
  }
}


@media (width >= 1024px) {
  :root {
    /* responsive spacing */
    --spacing-xxsmall: 0.5rem;
    --spacing-xsmall: 0.75rem;
    --spacing-small: 1rem;
    --spacing-large: 2.5rem;
    --spacing-xlarge: 3rem;
    --section-gutter-space: 72px;
    
    /* responsive font sizes */
    --font-size-400: 1.125rem;
    --font-size-500: 1.25rem;
    --font-size-600: 1.5rem;
    --font-size-700: 1.75rem;
    --font-size-800: 2rem;
    --font-size-900: 2.25rem;
    --font-size-1000: 2.5rem;
    --font-size-1100: 3rem;
    --font-size-1200: 3.75rem;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

/* Swipe carousel container should extend beyond default section width */
main > .section > div.swipe-carousel-wrapper {
  max-width: none;
  padding: 0;
}

main > .section:first-of-type {
  margin-top: 0;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* Styles for AEM Universal Editor mode */
html.adobe-ue-preview,
html.adobe-ue-edit {
  height: unset;

  .section.hero-video-section > .default-content-wrapper {
    height: 600px;
  }

  .section.hero-video-section > .video-wrapper {
    height: 600px;
  }

  .section.iframe-container > .iframe-wrapper {
    height: 600px;
  }
}
