/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* Colors: Primitive */
  --black: #000;
  --transparent: #fff0;
  --white: #fff;
  --wireframe: var(--neutral-solid-70-s);
  
  /* Accent Colors - Indigo */
  --accent-indigo-10: #f5f6ff;
  --accent-indigo-20: #e3e6fc;
  --accent-indigo-30: #ced4fd;
  --accent-indigo-40: #9fa9f7;
  --accent-indigo-50: #a8b2ff;
  --accent-indigo-60: #586af3;
  --accent-indigo-70: #2e43e0;
  --accent-indigo-80: #2132b0;
  --accent-indigo-90: #0a1885;
  
  /* Accent Colors - Magenta */
  --accent-magenta-10: #ffe6f6;
  --accent-magenta-20: #feaee1;
  --accent-magenta-30: #fe7cce;
  --accent-magenta-40: #fd49bb;
  --accent-magenta-50: #fd1caa;
  --accent-magenta-60: #de028d;
  --accent-magenta-70: #ac016d;
  --accent-magenta-80: #79014d;
  --accent-magenta-90: #47012d;
  
  /* Accent Colors - Orange */
  --accent-orange-10: #fdebe8;
  --accent-orange-20: #facfc7;
  --accent-orange-30: #f5a799;
  --accent-orange-40: #f17f6a;
  --accent-orange-50: #ec553a;
  --accent-orange-60: #df3416;
  --accent-orange-70: #b12911;
  --accent-orange-80: #821e0d;
  --accent-orange-90: #541408;
  
  /* Accent Colors - Pale Green */
  --accent-pale-green-10: #e1f4eb;
  --accent-pale-green-20: #b5e3ce;
  --accent-pale-green-30: #59c090;
  --accent-pale-green-40: #4cbb88;
  --accent-pale-green-50: #3b9b6f;
  --accent-pale-green-60: #2d7655;
  --accent-pale-green-70: #296b4d;
  --accent-pale-green-80: #235c42;
  --accent-pale-green-90: #1f513a;
  
  /* Accent Colors - Teal */
  --accent-teal-10: #e6fcff;
  --accent-teal-20: #a9f4fe;
  --accent-teal-30: #03d7f2;
  --accent-teal-40: #02aac0;
  --accent-teal-50: #0298ac;
  --accent-teal-60: #017d8d;
  --accent-teal-70: #01707e;
  --accent-teal-80: #015e6a;
  --accent-teal-90: #01505b;
  
  /* Blue Scale */
  --blue-05: #f6fcff;
  --blue-10: #e9f7fd;
  --blue-20: #cde7f9;
  --blue-30: #a3daff;
  --blue-40: #169af3;
  --blue-50-base: #0071bc;
  --blue-60: #00538a;
  --blue-70: #004370;
  --blue-80: #053657;
  --blue-90: #012740;
  --blue-100: #002035;
  --blue-120: #001c2d;
  --blue-60-alpha-60-a: #00538a99;
  
  /* Green Scale */
  --green-10: #f6fef0;
  --green-20: #edfee2;
  --green-30: #b8ec93;
  --green-40: #56c606;
  --green-50-base: #459e05;
  --green-60: #388004;
  --green-70: #234f03;
  --green-80: #1e4602;
  --green-90: #163102;
  
  /* Red Scale */
  --red-10: #fdf2f2;
  --red-20: #f6bcbf;
  --red-30: #ec747a;
  --red-40: #e64750;
  --red-50: #da1e28;
  --red-60: #c91c25;
  --red-70: #9d161d;
  --red-80: #861319;
  --red-90: #550c10;
  
  /* Yellow Scale */
  --yellow-10: #fff7e6;
  --yellow-20: #fef3d7;
  --yellow-30: #ffecc2;
  --yellow-40: #fed881;
  --yellow-50: #e19d00;
  --yellow-60: #ca8d02;
  --yellow-70: #b27c00;
  --yellow-80: #896001;
  --yellow-90: #473201;
  
  /* Purple Scale */
  --purple-10: #f1e1ff;
  --purple-20: #e5c7ff;
  --purple-30: #cd95fe;
  --purple-40: #c17cfe;
  --purple-50: #b25dfe;
  --purple-60: #7702df;
  --purple-70: #5c01ac;
  --purple-80: #410179;
  --purple-90: #260147;
  
  /* Neutral Solid Colors */
  --neutral-solid-05-s: #f5f7f9;
  --neutral-solid-10-s: #e7edf3;
  --neutral-solid-15-s: #dae3eb;
  --neutral-solid-20-s: #d4dee8;
  --neutral-solid-30-s: #bdccdb;
  --neutral-solid-40-s: #8a9db1;
  --neutral-solid-50-s: #586e84;
  --neutral-solid-60-s: #4b5e71;
  --neutral-solid-70-s: #3d4c5c;
  --neutral-solid-80-s: #252e37;
  --neutral-solid-90-s: #181f25;
  --neutral-solid-95-s: #181f25;
  
  /* Neutral Alpha Colors */
  --neutral-alpha-02-a: #00396b08;
  --neutral-alpha-04-a: #00396b0d;
  --neutral-alpha-08-a: #00396b14;
  --neutral-alpha-16-a: #00396b29;
  --neutral-alpha-24-a: #00396b3d;
  --neutral-alpha-42-a: #00294d6b;
  --neutral-alpha-57-a: #000d1a91;
  --neutral-alpha-65-a: #000d1aa6;
  --neutral-alpha-70-a: #000d1ab2;
  --neutral-alpha-95-a: #000d1af5;
  
  /* Gray Alpha Colors */
  --gray-alpha-black-08-a: #00000014;
  --gray-alpha-black-16-a: #00000029;
  --gray-alpha-black-24-a: #0000003d;
  --gray-alpha-black-48-a: #0000007a;
  --gray-alpha-black-60-a: #0009;
  --gray-alpha-white-16-a: #ffffff29;
  --gray-alpha-white-24-a: #ffffff3d;
  --gray-alpha-white-48-a: #ffffff7a;
  --gray-alpha-white-60-a: #fff9;
  --gray-alpha-white-75-a: #ffffffbf;
  --gray-alpha-white-90-a: #ffffffe5;
  --button-primary-background-enabled: var(--accent-blue-primary-70);
  --background-container-on-light-link-primary-hover: var(--blue-40);
  --icon-on-light-link-enabled:var(--blue-70);
  
  /* Brand Colors */
  --brand-blue: #009fda;
  --brand-dark-blue: #024;
  
  /* Priority Colors */
  --priorities-blue-cross-cutting: #004972;
  --priorities-gray-digital: #5d6472;
  --priorities-green-planet: #07ab50;
  --priorities-magenta-infrastructure: #91302f;
  --priorities-purple-prosperity: #872c8f;
  --priorities-yellow-people: #f7b841;
  --priorities-turquoise-planet-marine: #009ca7;
  
  /* Data Visualization Colors */
  --dviz-bright-cyan: #09a2db;
  --dviz-bright-dark-green: #006068;
  --dviz-bright-deep-blue: #3175ca;
  --dviz-bright-orange: #f9a453;
  --dviz-bright-orange-red: #f3734f;
  --dviz-bright-purple: #9f55a6;
  --dviz-bright-teal: #66c4ca;
  --dviz-bright-violet: #645db5;
  --dviz-bright-yellow: #e3b836;
  --dviz-bright-deep-teal: #009ca7;
  
  /* Semantic Colors: Accent Blue Primary */
  --accent-blue-primary-05: var(--blue-05);
  --accent-blue-primary-10: var(--blue-10);
  --accent-blue-primary-20: var(--blue-20);
  --accent-blue-primary-30: var(--blue-30);
  --accent-blue-primary-40: var(--blue-40);
  --accent-blue-primary-50: var(--blue-50-base);
  --accent-blue-primary-60: var(--blue-60);
  --accent-blue-primary-70: var(--blue-70);
  --accent-blue-primary-80: var(--blue-80);
  --accent-blue-primary-90: var(--blue-90);
  --accent-blue-primary-100: var(--blue-100);
  --accent-blue-primary-120: var(--blue-120);
  
  /* Background Colors */
  --background-color: white;
  --background-black: var(--black);
  --background-white: var(--white);
  --background-container-primary: var(--global-primary);
  --background-container-secondary: var(--global-secondary);
  
  /* Text Colors */
  --text-color: var(--neutral-solid-90-s);
  --text-on-dark-emphasis: var(--gray-alpha-white-90-a);
  --text-on-dark-subdued: var(--gray-alpha-white-60-a);
  --text-on-dark-default: var(--gray-alpha-white-75-a);
  --text-on-light-default: var(--neutral-alpha-70-a);
  --text-on-light-emphasis: var(--neutral-alpha-95-a);
  --text-on-light-highlight: var(--blue-90);
  --text-on-light-subdued: var(--neutral-alpha-57-a);
  --text-on-light-link-primary-enabled: var(--global-primary);
  --text-on-light-link-hover: var(--blue-50-base);
  --text-on-light-link-disabled: var(--neutral-solid-30-s);
  --text-on-light-link-visited: var(--purple-70);
  
  /* Divider Colors */
  --divider-on-dark-default: var(--blue-60-alpha-60-a);
  --divider-on-dark-emphasis: var(--gray-alpha-white-60-a);
  --divider-on-dark-highlight: var(--accent-blue-primary-40);
  --divider-on-dark-subdued: var(--gray-alpha-white-24-a);
  --divider-on-light-default: var(--neutral-alpha-16-a);
  --divider-on-light-emphasis: var(--neutral-alpha-24-a);
  --divider-on-light-subdued: var(--neutral-alpha-08-a);
  
  /* Global Colors */
  --global-primary: var(--blue-70);
  --global-secondary: var(--blue-40);
  --light-color: #eee;
  --dark-color: #ccc;
  --link-color: var(--text-on-light-link-primary-enabled);
  --link-hover-color: var(--text-on-light-link-hover);
  --outline-transparent: var(--transparent);
  --links-focus-color: #da570e;
  
  /* spacing */
  --spacing-none: 0;
  --spacing-xtiny: 0.125rem;
  --spacing-tiny: 0.25rem;
  --spacing-xsmall: 0.25rem;
  --spacing-xxsmall: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-regular: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 1.75rem;
  --spacing-xxlarge: 2rem;
  --spacing-huge: 2.5rem;
  --spacing-xhuge: 3rem;
  --section-gutter-space: 28px;
  --global-gutter: 1.5rem;
  --global-section-padding: 5rem;
  --grid-margin: 1.75rem;
  --padding-margins-sp1: 0.75rem;
   
  /* Typography - Font Families */
  --body-font-family: 'Open Sans', roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --global-font-family: 'Open Sans';
  
  /* Typography - Font Sizes */
  --font-size-100: 0.75rem;
  --font-size-150: 0.8125rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1rem;
  --font-size-400: 1rem;
  --font-size-500: 1rem;
  --font-size-600: 1.125rem;
  --font-size-700: 1.25rem;
  --font-size-800: 1.5rem;
  --font-size-900: 1.75rem;
  --font-size-1000: 1.75rem;
  --font-size-1100: 1.75rem;
  --font-size-1200: 2.25rem;
  
  /* Typography - Font Weights */
  --body-font-weight-regular: 400;
  --body-font-weight-bold: 700;
  --font-weight-bold: 700;
  --body-font-weight-italic: italic;
  --label-font-weight: 700;
  --heading-font-weight: 700;
  --lift-button-label-font-weight: 700;
  --font-weight-700: 700;
  
  /* screen variables */
  --screen-width: 1456px;
  
  /* other */
  --lift-button-border-radius: 4px;
  --border-radius-none: 0rem;
  --border-radius-small: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
  --border-radius-x-large: 2rem;

  /* Body Sizes */
  --body-font-size: 1.125rem;
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;
  --body-font-size-citation: 12px;

  /* Heading Sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;
  
  /* Main Heading Styles */
  --main-heading-font-size: 28px;
  --main-heading-spacing: 0 0 36px;
  --main-heading-line-height: 112%;
  
  /* Eyebrow Styles */
  --eyebrow-font-size-l: 14px;
  --eyebrow-font-size-m: 14px;
  --eyebrow-font-size-s: 12px;

  /* nav height */
  --nav-height: 79px;

  /* icon sizes */
  --size-icon-small: 0.875rem;
  --size-icon-regular: 1rem;
  --size-icon-large: 1.25rem;
  --size-icon-xxlarge: 4rem;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 768px) {
  :root {
    /* responsive spacing */
    --spacing-xxsmall: 0.25rem;
    --spacing-xsmall: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-regular: 1.25rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 1.75rem;
    --spacing-xlarge: 2rem;
    --spacing-xxlarge: 2.5rem;
    --spacing-huge: 3.5rem;
    --spacing-xhuge: 4rem;
    --section-gutter-space: 48px;
    --grid-margin: 3rem;
    --grid-gutter: 1.5rem;
    
    /* responsive font sizes */
    --font-size-100: 0.75rem;
    --font-size-150: 0.8125rem;
    --font-size-200: 0.875rem;
    --font-size-300: 1rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.125rem;
    --font-size-600: 1.25rem;
    --font-size-700: 1.5rem;
    --font-size-800: 1.75rem;
    --font-size-900: 1.75rem;
    --font-size-1000: 2rem;
    --font-size-1100: 2.25rem;
    --font-size-1200: 2.75rem;
    
    /* body sizes */
    --body-font-size: 1.125rem;
    --body-font-size-citation: 12px;
    
    /* main-heading styles */
    --main-heading-font-size: 32px;
    
    /* eyebrow styles */
    --eyebrow-font-size-l: 16px;
    --eyebrow-font-size-m: 14px;
    --eyebrow-font-size-s: 12px;
  }
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;

    /* spacing */
    --spacing-xxsmall: 0.5rem;
    --spacing-xsmall: 0.75rem;
    --spacing-small: 1rem;
    --spacing-regular: 1.5rem;
    --spacing-medium: 2rem;
    --spacing-large: 2.5rem;
    --spacing-xlarge: 3rem;
    --spacing-xxlarge: 4rem;
    --spacing-huge: 5rem;
    --spacing-xhuge: 6rem;

    /* icon sizes */
    --size-icon-xxlarge: 6rem;
    
    /* font sizes */
    --font-size-400: 1.125rem;
    --font-size-500: 1.25rem;
    --font-size-600: 1.5rem;
    --font-size-700: 1.75rem;
    --font-size-800: 2rem;
    --font-size-900: 2.25rem;
    --font-size-1000: 2.5rem;
    --font-size-1100: 3rem;
    --font-size-1200: 3.75rem;
  }
  
  main > .section {
    max-width: 871px;
  }
}


@media (width >= 1024px) {
  :root {
    /* responsive spacing */
    --spacing-xxsmall: 0.5rem;
    --spacing-xsmall: 0.75rem;
    --spacing-small: 1rem;
    --spacing-large: 2.5rem;
    --spacing-xlarge: 3rem;
    --section-gutter-space: 72px;
    --grid-margin: 4.5rem;
    --grid-gutter: 2rem;
    
    /* responsive font sizes */
    --font-size-100: 0.75rem;
    --font-size-150: 0.8125rem;
    --font-size-200: 0.875rem;
    --font-size-300: 1rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.25rem;
    --font-size-600: 1.5rem;
    --font-size-700: 1.75rem;
    --font-size-800: 2rem;
    --font-size-900: 2.25rem;
    --font-size-1000: 2.5rem;
    --font-size-1100: 3rem;
    --font-size-1200: 3.75rem;
    
    /* body styles */
    --body-font-size: 1.125rem;
    
    /* main-heading styles */
    --main-heading-font-size: 40px;
    --main-heading-spacing: 0 0 48px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight-regular);
  line-height: 1.4;
  overflow-x: hidden;
  background-image: url("/icons/Background-Swoosh.png");
  background-repeat: no-repeat;
  background-position: top left;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  box-sizing: border-box;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

/* Home page: no reserved header height (transparent header overlays content) */
body.homepage header {
  height: 0;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.2;
  margin: 1rem 0;
  letter-spacing: 0;
  color: var(--accent-blue-primary-90);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--font-size-1100); 
  line-height: 1.1;
  margin-bottom: var(--spacing-large);
}

h2 { 
  font-size: var(--font-size-1000); 
  margin-bottom: var(--spacing-medium);
  font-weight: 400; /* Not bold */
  border-bottom: 2px solid var(--divider-on-light-emphasis);
  padding-bottom: var(--spacing-regular);
}

h3 { 
  font-size: var(--font-size-800); 
  line-height: 1.1;
  margin-bottom: var(--spacing-regular);
}

h4 { 
  font-size: var(--font-size-700); 
  margin-bottom: var(--spacing-small);
}

h5 { font-size: var(--font-size-700); }
h6 { font-size: var(--font-size-700); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--font-size-200);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

strong {
  font-weight: var(--font-weight-700);
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main {
  max-width: 1456px;
  padding-left: 0;
  padding-right: 0;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--text-on-light-link-primary-enabled);
  text-decoration: none;
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 25px;
  text-align: left;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--accent-blue-primary-40);
}

a:focus,
a:active {
  color: var(--accent-blue-primary-90);
}

a:visited {
  color: var(--accent-blue-primary-90);
}

a:focus-visible,
div[role="button"]:focus-visible,
span[role="button"]:focus-visible {
  outline: 2px solid var(--links-focus-color);
}

a.disabled {
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-size: var(--font-size-200);
  font-weight: var(--lift-button-label-font-weight);
  line-height: 1.5rem;
  letter-spacing: -0.0312rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.75rem 1.75rem;
  font-style: normal;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent-blue-primary-70);
  border: 2px solid transparent;
  border-radius: var(--border-radius-x-large);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 12px 0;
  max-width: 100%;
}

a.button:hover,
button:hover {
  background-color: var(--accent-blue-primary-40);
  color: var(--accent-blue-primary-70);
  cursor: pointer;
}

a.button:focus-visible,
button:focus-visible {
  outline: 2px solid var(--links-focus-color);
}

button:disabled,
button:disabled:hover,
a.button.disabled,
a.button.disabled:hover {
  background-color: var(--neutral-solid-30-s);
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

a.button:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  background-color: var(--accent-blue-primary-90);
  color: var(--white);
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid var(--accent-blue-primary-70);
  color: var(--accent-blue-primary-70);
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--accent-blue-primary-40);
  border: 2px solid var(--accent-blue-primary-40);
  color: var(--accent-blue-primary-70);
}

button.secondary:disabled,
button.secondary:disabled:hover,
a.button.secondary.disabled,
a.button.secondary.disabled:hover {
  background-color: unset;
  border: 2px solid var(--neutral-solid-20-s);
  color: var(--neutral-solid-40-s);
  cursor: unset;
}

a.button.secondary:focus:not(:focus-visible),
button.secondary:focus:not(:focus-visible) {
  background-color: var(--accent-blue-primary-10);
  border: 2px solid var(--accent-blue-primary-70);
  color: var(--accent-blue-primary-70);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* colors */

main > .color-wrapper > .color-animation {
  display: flex;
  width: 2869px;
  height: 1130px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  opacity: 0.5;
  position: fixed;
  top: 15vh;
  padding: 0 70px;
  gap: 469px;
}

main > .color-wrapper > .gradient-left-side {
opacity: 0.4;
filter: blur(60px);
width: 1130px;
height: 1130px;
transform: rotate(90deg);
flex-shrink: 0;
aspect-ratio: 1 / 1;
left: -35%;
border-radius: 1130px;
background: linear-gradient(rgb(1 125 141) 0%, rgb(1 125 141 / 0%) 85%);
}

main > .color-wrapper > .gradient-right-side {
opacity: 0.4;
filter: blur(60px);
width: 1130px;
height: 1130px;
transform: rotate(270deg);
flex-shrink: 0;
aspect-ratio: 1 / 1;
right: -35%;
border-radius: 1130px;
background: linear-gradient(rgb(33 50 176) 0%, rgb(33 50 176 / 0%) 85%);
}

main > .color-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
z-index: -1;
box-sizing: border-box;
}

main > .color-wrapper .gradient-left-side {
position: absolute;
top: 0;
width: 50%;
height: 100%;
opacity: 0.6;
transition: 5s;
}

main > .color-wrapper .gradient-right-side {
position: absolute;
top: 0;
width: 50%;
height: 100%;
opacity: 0.6;
transition: 5s;
}

.color-wrapper.centered .gradient-left-side {
  left: 25%;
}

.color-wrapper.centered .gradient-right-side {
  right: 25%;
}

/* sections */
main > .section {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

main > .section:first-of-type {
  margin-top: 40px;
  max-width: 100%;
}


main > .section > div {
  max-width: var(--screen-width);
  margin: auto;
}

/* Swipe carousel container should extend beyond default section width */
main > .section > div.swipe-carousel-wrapper {
  max-width: none;
  padding: 0;
}

/* Homepage Sticky Card Section */
.section[id="sticky-section"] > .default-content-wrapper {
  place-self: center;
  position: sticky;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 0;
  background-color: transparent;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-medium);
  max-width: 100%;
  width: 100%;
  padding: 200px 0;
}

@media (width >=1024px) {
.section[id="sticky-section"] > .default-content-wrapper {
  width: 44%;
  padding: 320px 0;
  }


  main > .section {
    width: 66.66%;
    max-width: 930px;
   }


   main > .section:first-of-type {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width:auto;
   }  
}

.section[id="sticky-section"] > .default-content-wrapper h2 {
  font-family: var(--global-font-family);
  color: var(--text-on-light-highlight);
  margin: 0;
  font-size: var(--font-size-1200);
  font-style: normal;
  font-weight: var(--heading-font-weight);
  line-height: 112%;
  letter-spacing: -1.8px;
  margin-bottom: 40px;
}

.section[id="sticky-section"] > .default-content-wrapper > p {
  margin-bottom: 0;
  height: 58px;
}

.section[id="sticky-section"] > .default-content-wrapper >  p > a {
  margin: 0;
}

@media (width >=768px) {
  .gradient-left-side {
    left: -35%;
    }
  
  .gradient-right-side {
      right: -35%;
    }
  }

@media (width >=1024px) {
.section[id="sticky-section"] > .default-content-wrapper {
  width: 44%;
  padding: 320px 0;
  }

  main > .section {
    width: 66.66%;
    max-width: 930px;
   }
  
   main > .section:first-of-type {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width:auto;
   }  
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* Styles for AEM Universal Editor mode */
html.adobe-ue-preview,
html.adobe-ue-edit {
  height: unset;

  .section.hero-video-section > .default-content-wrapper {
    height: 600px;
  }

  .section.hero-video-section > .video-wrapper {
    height: 600px;
  }

  .section.iframe-container > .iframe-wrapper {
    height: 600px;
  }
}